<!--Import header-->
<%- include('includes/header.ejs') %>




    <section id="about-us" class="my-button discover-our-story">
        <div class="container">
            <div class="about-us-section">
                <div class="about-description padding-right animate-left">
                    <!-- multiple classes-->
                    <div class="global-headline">

                        <h2 class="sub-headline text-center">Rent</h2>
                        <h2 class="headline headline-dark">Our Skis</h2>
                        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    </div>
                    <p>
                        Everski offers you for rent skis, snowboards and sleds of very good quality.</p> <br>

                    <h5>Prices</h5>
                    <p> Skis --- €10<br>

                        Snowboards --- €12<br>

                        Sleds --- €5</p><br>

                    <p>
                        All prices are for daily renting<br>

                        Photo ID required.<br>




                    </p>

                    <h5>Store</h5><br>
                    <p>Inside Everski Center there is a store to buy high quality ski clothing equipment at
                        reasonable prices.
                    </p>

                    <a href="#" class="btn body-btn">Details</a>
                </div>
                <div class="about-us-img animate-right">
                    <img src="images/everski.jpg" alt="#">
                </div>

            </div>

        </div>
    </section>




    <!--Import footer-->

    <%- include('includes/footer.ejs') %>