.col-auto .btn {
    background-color: #e47911;
    color: #232323;
    border-radius: 0;
}

.list-unstyled .text-white {
    text-decoration: none;
}

.list-unstyled .text-white:hover {
    color: #e47911 !important;
}

.text-uppercase {
    color: #e47911;
}

.col-auto .btn a {
    color: #232323;
    text-decoration: none;


}

.col-auto .btn:hover {
    background-color: white;
}